.witcherrpg.sheet.playercharacter{
  form{
    display: flex;
    flex-direction: row;
    align-items: flex-star;
    border: 0px;
    opacity: 0.9;
    background-image:url(assets/character-background.jpg);
    color:gold;
  }

  .core-stats{
    width: 150px;
    border: 2px lightslategray;
    td{
      text-align:center
    }
    th{
      text-align:center
    }
  }


  .side-bar{
    flex: 1;
    width: 250px;
    td{
      text-align:left
    }
  }
  
  input{
    border: none;
    margin-bottom: 0.25em;
    color: white;
  }

  img {
    display:flex;
    margin:auto;
    border: none;
  }

  div {
    //flex-direction: column;
    font-family: 'Creed';
  }

  .charMenu {
    overflow: hidden;
    border: 1px solid #ccc;
  }
  
  /* Style the buttons inside the tab */
  .charMenu button {
    background-color: inherit;
    color: gold;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 5px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .charMenu button:hover {
    background-color: #ddd;
    color:black;
  }
  
  /* Create an active/current tablink class */
  .charMenu button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

}

@font-face {
  font-family: 'Creed';
  src: url(font/Creed.ttf);
  font-style: normal;
}