.witcherrpg.sheet.item form {
  display: flex;
  flex-direction: column;
}
.witcherrpg.sheet.item .witcherrpg.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.witcherrpg.sheet.item .witcherrpg.sheet.item .sheet-content .editor {
  height: 100%;
}
.witcherrpg.sheet.item .witcherrpg.sheet.item .item-header {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
