<div class="primary-weapon-card">
    <div class="pweapon-header">
        <tr>
            <td style="text-align:center;">{{name}}</td>
            <td style="text-align:center;">{{data.weaponRel}}</td>
        </tr>
    </div>
</div>