<div class="primary-weapon-card">
    <div class="pweapon-header">
    <table>
        <tr>
            <th style="text-align:center;">{{localize "witcherrpg.weaponAtt.weaponName"}}</th>
            <th style="text-align:center;">{{localize "witcherrpg.weaponAtt.weaponRel"}}</th>
        </tr>
        <tr>
            <td>{{data.weaponName}}</td>
            <td>{{data.weaponRel}}</td>
        </tr>
    </table>
    </div>
</div>