<form class="actor-sheet {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <div class="core-stats-bar">
        <li class="charname">
               <input name="name" type="text" value="{{actor.name}}" placeholder=""/>
        </li>

    </div>
</form>